body{
    width: 80%;
    border: 0;
    margin: 0 auto;
    font-family: medium-ui-sans-serif-text-font;
}
h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
h4{
    color: grey;
    font-size: 16px;
}
.header{
    width:100%;
    background: white;
    font-size: 14px;
}
.metabar-inner{
    border-bottom: 1px solid #dddddd;

}
.to_login{
    display:none;
}
.log_out{
    display: none;
}
.to_create_blog{
    display:none;
}
.metabar-block-left{
    float:left;
    margin: 0px;
}
.metabar-block-right{
    float:right;
    padding-top: 20px;

}
.metabar-block-right a{
    text-decoration: none;
    color: grey;
    padding-right: 25px;
}
.metabar-inner{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.metabar-inner ul{
    padding-left: 10px;
}
.metabar-inner ul li{
    list-style-type: none;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 70px;
    padding-left: 70px;
    float: left;
}
.dropdown{
    display:none;
}
.metabar-inner ul li a{
    text-decoration: none;
    color: grey;
}
.content{
    width:100%;


}
.content a{
    color: black;
    text-decoration: none;

}
.flexCenter{
    padding-top: 50px;
    padding-bottom: 70px;
    margin-bottom:30px;
    border-bottom: 1px solid #dddddd;
}
.flexCenter h2{
    width: 40%;
    float: left;
}
.flex{
    float: right;
    padding-top:10px;
}
.content-item{
    width: 48%;
    border: 2px solid #dddddd;
    height: 258px;
    float:left;
    margin: 1%;
    padding: 0px;
}
.content-item-left{
    float :left;
    width: 40%;
    overflow: hidden;
    height: 100%;
}
.content-item img{
    float: left;
    width: auto;
    height: 100%;
}
.content-item-right{
    float: right;
    width: 60%;
    padding-top:20px;
    padding-right: 20px;
    padding-left:20px;
    height: 100%;
}
.content-item-right-top{
    height:70%;
}
.content-item-right-bottom img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.content-item-right-bottom h4{
    margin-bottom:0px;
}
.glyphicon-heart-empty{
    float: right;
    font-size: 20px;
}
.fooder{
    width:100%;
    height:200px;

}
.fooder ul li {
    list-style-type: none;
    padding-top: 20px;
    padding-right: 30px;
    float: left;
}

/* detail.php

 */
.author{
    padding:30px;
}
.author a{
    float:left;

}
.content-right a{
    font-size: 15px;
    color: black;
    padding-left: 15px;
    text-decoration: none;
}
.content-right a input{
    background-color:white;
    border:1px solid #cccccc;
    border-radius:999em;
    font-size: 12px;
    padding:0 10px;
    margin-left:10px;

}
.content-right{
    background-color:white;
    margin: 20px 0;


}
.accentColor{
    border-top: 1px solid #cccccc;
    margin:20px;
    padding:0px;
    margin-left:0px;
}
.content-right a{
    border-radius:50%;
    padding: 0px;
}
.content-right p,time{
    font-size: 12px;
    margin: 0;
    color: rgba(0,0,0,.44)
}
.author-content{
    padding:0px;
}
.author-content a img{
    border-radius: 50%;
}
.transparent{
    background-color: rgba(40, 66, 85, .05);
    padding: 20px 10px;
    margin:20px 0;

}
.transparent .flex1 span{
    font-size: 40px;
}
.transparent a input{
    background-color: #02b875;
    padding: 8px 14px;
    color:white;
    font-size: 14px;
}
.content-right .img{
    padding-left: 0px;
}
.boxShadow {
    background-color: #f2f2f2;
    padding: 0;
    border: 1px solid #cccccc;
    margin-bottom: 30px;
}
.item-header .header-boder{
    border-bottom: 1px solid green;
    padding: 20px;
}
.item-header span{
    font-size: 30px;
    text-align: center;
    padding-top:20px;
}
.box-content{
    padding: 40px;
    text-align: center;

}
.box-item1{
    background-color: white;
    padding-left:0px;

}
.float-left{
    float:left;
    margin:20px 0;
}
.float-right{
    float: right;
    margin:20px 0;

}
.left{
    float:left;
    padding-right:10px;

}
.left a{
    padding-right:5px;
}
.content-comment{
    background-color: #dddddd;
    padding:10px;
}
.comment{
    background-color: white;
    height:100px;
    border-radius: 999em;
    padding-left: 30px;
    padding-top: 10px;
}

.editor-blog-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}

.editor-blog-box .box-header {
    background-color: #665851;
    max-width: 100%;
    color : white;
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
}

.editor-blog-box label {
    font-weight: 700;
    font-size: .8em;
    color: #888;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
    margin-left: 20px;
}

.editor-blog-box input,.editor-blog-box img{
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .9em;
    color: #888;
}


.editor-blog-box input:focus {
    outline: none;
    border-color: #665851;
    transition: 0.5s;
    color: #665851;
}

.editor-blog-box button {
    margin-top: 0px;
    margin: auto;
    border: 0;
    border-radius: 2px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: #665851;
    cursor:pointer;
    outline: none;
}

.editor-blog-box button:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.to-edit-page-button{
    padding :10px;
    font-size: 20px;
    background-color: #2aabd2;
    color:white;
}
@media only screen and (max-width: 480px) {
    #logo{
        width: auto;
        height: 100%;
    }
    .metabar-block-right{
        padding : 0px;
        font-size: 0px;

    }
    .metabar-block-right-inner{
        padding : 0px;
        font-size: 0px;

    }
    .metabar-block-right a {
        padding-right: 5px;
        width: 40px;
        height: 40px;
    }
    .to_login{
        display:inline-block;
    }
    .dropbtn {
        background-color: #0a94e3;
        color: white;
        padding: 10px 15px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #0000ff;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #f1f1f1}

    .show {display:block;}
    .metabar-block{
        display :none;
    }
    .content-item{
        width:100%;
        height: auto;
        box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    }
    .content-item-left{
        float :left;
        width: 100%;
        height: auto;
    }
    .content-item img{
        float: left;
        width: 100%;
        height: auto;
    }
    .content-item-right{
        float: right;
        width: 100%;
        padding-top:20px;
        padding-right: 20px;
        padding-left:20px;
        height: auto;
    }
    .content-item-right-top{
        height:auto;
    }
    .content-item-right-bottom{
        padding: 10px 0px;
    }
    .log_out{
        display: inline-block;
        width: 32px;
        height: 32px;
    }
    .to_create_blog{
        display:inline-block;
        width: 45px;
        height: 45px;
    }
}

